* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

:root {
  --White: hsl(0, 0%, 100%);

  --Lightgray: hsl(212, 45%, 89%);

  --Grayishblue: hsl(220, 15%, 55%);

  --Darkblue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--Lightgray);
}

.qr-code {
  width: 320px;
  background-color: var(--White);
  margin: 40px auto;
  padding: 18px 8px 30px 8px;
  box-shadow: 2px 2px 16px rgba(40, 40, 40, 0.09);
  border-radius: 18px;
  text-align: center;
}

 .content {
  height: 6px;
  width: 100px;
}

.qr-code img {
  max-width: 300px;
  width: 290px;
  height: 300px;

  border-radius: 10px;
}

.qr-code h2 {
  color: var(--Darkblue);
  font-weight: 700;
  margin: 20px 0;
  font-size: 20px;
}

.qr-code p {
  font-size: 15px;
  color: var(--Grayishblue);
  font-weight: 400;
}

@media (max-width: 375px) {
}
